@media only screen and (max-width: 576px) {
    header {
    padding: 10px;
    font-size: 14px;
    }
    
    main {
    margin-top: 10px;
    }
    
    .card {
    flex: 1 1 auto;
    }
    
    form input[type="text"] {
    font-size: 14px;
    }
    
    form button {
    font-size: 14px;
    }
    
    .char-card {
    width: 40px;
    height: 60px;
    }
    
    .char {
    font-size: 20px;
    }
    
    .delete-icon {
    width: 18px;
    height: 18px;
    font-size: 12px;
    top: 3px;
    right: 3px;
    }
    .cta{
      min-width: 22rem;
      max-width: 22rem;
    }
  
  }
    
  @media only screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
  
    .card {
      flex: 1 1 auto;
    }
  
    form {
      flex-direction: column;
    }
  
    form button {
      margin-top: 10px;
      margin-left: 0;
    }
    
    .large{
      font-size: 2rem;
    }
  
    .rise{
      font-size: 3.5rem;
    }
  
    .cta{
      min-width: 22rem;
      max-width: 22rem;
    }
  }
  